# Folders
auto-save-list
elpa*
persp-confs
straight
transient
.cache
eclipse.jdt.ls
straight
workspace


#Files
projectile*
recentf
*org*
history
custom.el
ac*
uptimes*
.bookmarks.el
.session
.smex-items
.uptimes.el
*.swp
custom.el
*session*
.mc-lists.el
recentf
*~

